@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-center mt-5">
    <button class="btn btn-info mt-3" onclick="mostrarAlerta()">Mostrar Info</button>
</div>
<script>
    function mostrarAlerta() {
        alert("Mi nombre es Mauricio y mi hobbie es los videojuegos");
    }
</script>
